 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fdrt-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 740px;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1033px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-7 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-8 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-9 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-11 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-12 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-13 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-14 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-15 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-16 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-18 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-block-1ec1-45 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-1ec1-46 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-1ec1-47 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-text-3 {
  width: 788px;
  font-size: 1.5rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 442px;
    margin-top: 17px;
    margin-left: -48px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}